<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PrMira</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon-128.png">

    <!--[if gt IE 8]><!--><link rel="stylesheet" href="assets/app.css"><!--<![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/app.ie.css"><![endif]-->
</head>
<body>

    {{> header}}
    {{> carousel}}
    {{> content}}
    {{> prefooter}}
    {{> footer}}

    <script src="assets/app.js"></script>

</body>
</html>